<h1>Studenti</h1>

<% if @students.empty? %>
    <h2>Žádní studenti nebyli nalezeni.</h2>
<% else %>
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Study Type</th>
      </tr>
      </thead>

      <tbody>
      <% @students.each do |student| %>
          <tr>
            <td><%= student.first_name %></td>
            <td><%= student.last_name %></td>
            <td><%= student.email %></td>
            <td><%= student.study_type %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>

<br>
