<main>

  <ol class="breadcrumb bg-transparent">
    <li class="breadcrumb-item active">Dashboard</li>
  </ol>

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4">Rozpis lekcí v budově <%= @building.title %></h1>
    </div>
  </div>

  <div class="container">

    <%  %>

  </div>

</main>
