<main>

  <ol class="breadcrumb bg-transparent">
    <li class="breadcrumb-item active">Seznam budov</li>
  </ol>

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4">Seznam budov</h1>
      <p>Rezervujte si svou místnost ještě dnes!</p>
    </div>
  </div>

  <div class="container">

    <div class="row">
      <% @buildings.each do |building| %>

          <div class="col-sm-6 col-md-3">
            <h2><%= building.title %></h2>
            <p><%= building.code %></p>
            <p><%= link_to building, class: 'btn btn-primary' do %>
                  <%= fa_icon 'info-circle', text: 'Zobraz detail' %>
              <% end %></p>
          </div>

      <% end %>

    </div>

  </div>

</main>




