<h1>Lektoři</h1>

<% if @teachers.empty? %>
    <h2>Žádní lektoři nebyli nalezeni.</h2>
<% else %>
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
      </tr>
      </thead>

      <tbody>
      <% @teachers.each do |teacher| %>
          <tr>
            <td><%= teacher.first_name %></td>
            <td><%= teacher.last_name %></td>
            <td><%= teacher.email %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>

<br>
